@charset "UTF-8";

body {
    background-color: #EF709D;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(122, 0, 122)
}

h1#principal{
    color: white;
}

h1{
    color: #3772FF;
}

.basico{
    color: #540D6E;
}

.intermediario{
    color: #E2EF70;
}

.avançado{
    color: #70E4EF;
}
